/* $변수를 지정할 수 있다.*/


$main-color : rgb(0,0,181);

.color{
    color: $main-color;
    /* &를 통해서 자기자신을 불러와 사용할 수 있다.
    클래스나 태그 안에서 자기자신을 불러와서 사용
    */
    // 여기서 &는 .color와 동일하다
    &:hover {
        color: rgb(102,189,255);
    }
}


